:root { 
  --downy: #56f3c3;
  --french-rose: #f35686;
  --portica: #ffe765;
  --razzle-dazzle-rose: #f356cf;
  --sea-serpent: #50c6db;
  --white: #ffffff;
 
  --font-size-m: 28px;
 
  --font-family-pulpdisplay-bold: "PulpDisplay-Bold", Helvetica;
}
